/* Reseteo */
* {
    margin: 0;
    padding: 0;
}
@import './secciones/variables';
@import './secciones/mixin';
@import './secciones/header.scss';
@import './secciones/letraFrente.scss';
@import './secciones/footer.scss';
@import './secciones/_contacto.scss';
@import './secciones/_discografia.scss';
@import './secciones/noticias';
@import './secciones/tour';
@import './secciones/index';

h2 {
    font-size: 30px;
    margin-bottom: 10px;
    @include fontStyle($colorFondo,$textoTitulo);
}

h3 {
    @extend h2 ;
    text-align: center;
    @include fontStyle($colorFondo, $textoTitulo);
}

body {
    background-image: url(https://1.bp.blogspot.com/-BEivl-v8o_M/WSgRAREnsWI/AAAAAAAAInY/n2dHCLoJYzk1x-BPTWaeOaz6TU5FdbBcQCLcB/s1600/Sonata-Arctica-kirjan-kansi.jpg);
    width: 100%;
    height: 100%;
    background-size: 100%;
    animation: movimiento alternate linear infinite;
    animation-duration: 10s;
}

@keyframes movimiento {
    from {
        background-position: top;
    }

    to {
        background-position: bottom;
    }
}




