// Pagina Contacto

.form {
    width: 20%;
    background: rgba(72, 80, 192, 40%);
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    font-family: 'Calibri';
    color: rgb(255, 255, 255);
    text-align: center;

    .h5 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .caja {
        width: 55%;
        background: rgb(224, 224, 224);
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        font-family: 'Calibri';
        font-size: 18px;
        border-color: rgba(3, 3, 114, 0.938);

    }

    .cajatexto {
        width: 55%;
        background: rgb(224, 224, 224);
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        font-family: 'Calibri';
        font-size: 18px;
        border-color: rgba(3, 3, 114, 0.938);
    }

    .cajacomentar {
        width: 60%;
        background-color: rgb(3, 3, 114);
        color: white;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        font-family: 'Calibri';
        font-weight: bold;
        font-size: 20px;

    }
}